---
---

@import "{{ site.theme }}";

// Color Variables

$yellow: #fceb5e;
$black: #222;

// Mixins

@mixin remove_webkit {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

@mixin flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// Main Navigation

nav.nav {
  width: 100% !important;
  margin: 0;
  width: 0;
  height: 80px;
  @include flex_center;
  ul.navigation {
    @include remove_webkit;
    list-style-type: none;
    margin-left: 5%;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
